  .validation-input {
    border: 3px solid #bdbdbd;
  }
  
  .validation-input.valid {
    border-color: #4caf50;
  }
  
  .validation-input.invalid {
    border-color: #f44336;
  }

  img {
    width: 400px;
    height: 250px;
  }

  .gallery {
    display: flex;
  }

  .gallery li {
    margin-left: 15px;
    margin-top: 15px;
    list-style-type: none;
  }
    
  
